<!DOCTYPE html>
<html>

<head>
    <title>Corona Infection Data</title>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/topojson.v1.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/main.css")'>
</head>

<body>
    <header>Corona Infection Data</header>
    <div class="map-container">
        <svg></svg>
    </div>
    <div class="sidebar">
        <strong class="sidebar-heading">Select a country to show its metrics</strong>
        <div>
            <p>7 day incidence</p>
            <div class="incidence-seven-days-container">

            </div>
            <p>Daily infections</p>
            <div class="daily-infections-container">

            </div>
        </div>
    </div>
    <script type="text/javascript" src='@routes.Assets.versioned("javascripts/main.js")'></script>
</body>

</html>